body {
    margin: 0;
    height: 100vh;
    font-size: 25px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#file_upload {
    margin-bottom: -20%;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* formのinputの初期値へ戻す */
input[type="file"],
input[type="submit"] {
    display: none;
}

/* フィイル選択ボタン */
#file_select_btn {
    margin-right: 2%;
    padding: 1% 2%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ccc;
    box-shadow: 2px 2px 5px 2px #7a7a7a;
    cursor: pointer;
    transition: ease 0.2s;
}

#file_select_btn:hover {
    transform: translateX(-1px) translateY(-2px);
}

/* アップロードボタン */
#upload_btn {
    margin-left: 2%;
    padding: 1% 3%;
    border-radius: 5px;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    background-color: #2949ff;
    box-shadow: 2px 1px 5px 2px #9e9e9e;
    cursor: pointer;
    transition: ease 0.2s;
}

#upload_btn:hover {
    transform: translateX(-1px) translateY(-2px);
}

/* フェードインさせたいがため */
#toggle {
    display: none;
}

/* tableを中央配置 */
#output {
    display: flex;
    justify-content: center;
}

table {
    margin: 3% 0;
    width: 90%;
    /* 各要素の隙間をなくす */
    border-spacing: 0;
    border: 1px black solid;
}

th,
td {
    padding: 1% 0;
    width: 25%;
    border: 1px black solid;
    font-size: 25px;
}

/* 勘定科目名を左寄せ */
.left_justified {
    padding-left: 1%;
    text-align: left;
}

/* 数値は右寄せ */
.right_justified {
    padding-right: 1%;
    text-align: end;
}

.tb_debit {
    background-color: #c3effa;
}

.tb_credit {
    background-color: #fae7d6;
}

.tb_horizontal_total {
    background-color: #a2e7a2;
}

/* 集計結果ボタンを真ん中配置するため */
#result_box {
    width: 100%;
    display: flex;
    justify-content: end;
}

/* 集計結果ボタン */
#submit {
    margin-right: 5%;
    padding: 1% 3%;
    display: none;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    box-shadow: 2px 2px 5px 2px #7a7a7a;
    cursor: pointer;
    transition: ease 0.2s;
}

#submit:hover {
    transform: translateX(-0.5px) translateY(-1px);
}